<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Userlogin</title>
</head>
<body style="text-align: center;">
    <h1>User Signup</h1>
    <form action="{% url 'userregister'%}" method="POST">
        {%csrf_token%}
        {{form.as_p}}
        <button type="submit">submit</button>
    <a href="{% url 'diarycover' %}"> <h3>첫 화면으로 가기</h3> </a>

    </form>
    
</body>
</html>